Code/XTMF.Update2/Web References/TMG.WebUpdate/XTMFUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tmg.utoronto.ca:80/XTMFUpdate.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tmg.utoronto.ca:80/XTMFUpdate.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tmg.utoronto.ca:80/XTMFUpdate.asmx">
      <s:element name="GetCoreFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amd64" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCoreFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCoreFilesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModuleFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amd64" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModuleFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModuleFilesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeFiles">
        <s:complexType />
      </s:element>
      <s:element name="GetCodeFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodeFilesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCoreFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCoreFiles" />
  </wsdl:message>
  <wsdl:message name="GetCoreFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCoreFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetModuleFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetModuleFiles" />
  </wsdl:message>
  <wsdl:message name="GetModuleFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetModuleFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodeFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodeFiles" />
  </wsdl:message>
  <wsdl:message name="GetCodeFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodeFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="XTMFUpdateWebserviceSoap">
    <wsdl:operation name="GetCoreFiles">
      <wsdl:input message="tns:GetCoreFilesSoapIn" />
      <wsdl:output message="tns:GetCoreFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleFiles">
      <wsdl:input message="tns:GetModuleFilesSoapIn" />
      <wsdl:output message="tns:GetModuleFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeFiles">
      <wsdl:input message="tns:GetCodeFilesSoapIn" />
      <wsdl:output message="tns:GetCodeFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XTMFUpdateWebserviceSoap" type="tns:XTMFUpdateWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoreFiles">
      <soap:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetCoreFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleFiles">
      <soap:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetModuleFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeFiles">
      <soap:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetCodeFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XTMFUpdateWebserviceSoap12" type="tns:XTMFUpdateWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoreFiles">
      <soap12:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetCoreFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleFiles">
      <soap12:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetModuleFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeFiles">
      <soap12:operation soapAction="http://tmg.utoronto.ca:80/XTMFUpdate.asmx/GetCodeFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XTMFUpdateWebservice">
    <wsdl:port name="XTMFUpdateWebserviceSoap" binding="tns:XTMFUpdateWebserviceSoap">
      <soap:address location="http://tmg.utoronto.ca/XTMFUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="XTMFUpdateWebserviceSoap12" binding="tns:XTMFUpdateWebserviceSoap12">
      <soap12:address location="http://tmg.utoronto.ca/XTMFUpdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>